node_modules
build
yarn.lock
_arknights.js
t.json
a.json
.VSCodeCounter/
package-lock.json
tmp/
test/
assets/
mods/
mods.json
src/
.idea
users/
.vscode/
.trae/
OpenArknightsFBS/
ArknightsGameData/
*.cs
opendoctoratepy-ex-public/
.reasonix/
Dorothinights
coverage/
cankao/
reference/
# SQLite runtime-generated (friend/social data, auto-created on first start)
data/user/social.db